Host *
    TCPKeepAlive yes
    ServerAliveInterval 15
    ServerAliveCountMax 3
    ForwardAgent yes
    ControlPath ~/.ssh/cp/%r@%h:%p
    ControlMaster auto
    ControlPersist 30m
    ForwardX11 yes

Host *+*
    ProxyCommand ssh $(echo %h | sed -e 's/+[^+]*$//; s/\([^+=]*\)=\([^+]*\)$/\2 -l \1/; s/^\([^+:]*\):\([0-9]*\)+/-p \2 \1+/' ) -W $(echo %h | sed -e 's/^.*+//; s/:.*$//;'):$(echo %h | sed -e ' s/^.*+//; /:/!s/^.*/22/; s/^.*://' ;)
